In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import dataframe_image as dfi

In [21]:
df = pd.read_csv("D:/Data Science practice/Blog/Beginner's guide Series/Tax/Tax band table.csv")

df

,Band,Income Tax,Income Tax Rate,Dividend Tax Rate,Capital Gain Tax Rate
0,Personal Allowance,"12,570",0%,"2,000","12,300 + cost of buying"
1,Basic Rate,"12,571 - 50,270",20%,7.50%,10%
2,Higher Rate,"50,271 - 150,000",40%,32.50%,20 - 28%
3,Additional Rate,"> 150,000",45%,38.10%,-

In [22]:
dfi.export(df, "D:/Data Science practice/Blog/Beginner's guide Series/Tax/Tax Band Table1.png")